@model IEnumerable<Parcial2OS2.Models.TipoInventario>

@{
    ViewData["Title"] = "Tipos de Inventario";
}

<h1>Tipos de Inventario</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaContable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaContable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_TipoInventario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_TipoInventario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_TipoInventario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
