@model Parcial2OS2.Models.Articulos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Existencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_TipoInventario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_TipoInventario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Articulo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
